<!DOCTYPE html>
<html>
    <head>
        <title>
            Home
        </title>
    </head>
    <body>
        <h1>{{> header}}</h1>
        <p> {{screamIt welcomeMsg}} </p>
        {{> footer}}
    </body>
</html>